<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body ng-app>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<div class="container">
			<div class="top">
				<h1>Css menu</h1>
				<h2>with beveled corners</h2>
			</div>
			<div class="middle">
				<ul ng-init="menu = 1">
					<li ng-click="menu = 1; console.log(1);" ng-class="{'active' : menu === 1 }">Menu 1</li>
					<li ng-click="menu = 2" ng-class="{'active' : menu === 2 }">Menu 2</li>
					<li ng-click="menu = 3" ng-class="{'active' : menu === 3 }">Menu 3</li>
					<li ng-click="menu = 4" ng-class="{'active' : menu === 4 }">Menu 4</li>
				</ul>
				<h1>Css tabs</h1>
				<h2>with animation</h2>
			</div>
			<div class="bottom">
				<ul ng-init="secondMenu = 1">
					<a ng-click="secondMenu = 3" ng-class="{'clicked' : secondMenu === 3 }">
						<li><span>Menu 3</span><span class="rotated">Menu 3</span></li>
					</a>
					<a ng-click="secondMenu = 2" ng-class="{'clicked' : secondMenu === 2 }">
						<li><span>Menu 2</span><span class="rotated">Menu 2</span></li>
					</a>
					<a ng-click="secondMenu = 1" ng-class="{'clicked' : secondMenu === 1 }">
						<li><span>Menu 1</span><span class="rotated">Menu 1</span></li>
					</a>
					<a ng-click="secondMenu = 4" ng-class="{'clicked' : secondMenu === 4 }">
						<li><span>Menu 4</span><span class="rotated">Menu 4</span></li>
					</a>
				</ul>
			</div>
		</div>
	</body>
</html>
