<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body ng-app>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<div class="container">
			<div class="top">
				<h1>Css menu</h1>
				<h2>with beveled corners</h2>
			</div>
			<div class="middle">
				<ul ng-init="menu = 1">
					<li ng-click="menu = 1; console.log(1);" ng-class="{'active' : menu === 1 }">Menu 1</li>
					<li ng-click="menu = 2" ng-class="{'active' : menu === 2 }">Menu 2</li>
					<li ng-click="menu = 3" ng-class="{'active' : menu === 3 }">Menu 3</li>
					<li ng-click="menu = 4" ng-class="{'active' : menu === 4 }">Menu 4</li>
				</ul>
				<h1>Css tabs</h1>
				<h2>with animation</h2>
			</div>
			<div class="bottom">
			</div>
		</div>
	</body>
</html>